<header>
  <div class="wrapper">
    <h1 class="logo">Book<span>Club</span></h1>
    <nav class="main-nav">
      <ul>
        <li><a href="#"><i class="fa fa-home nav-icon"></i>Home</a></li>
        <li><a href="#"><i class="fa fa-info nav-icon"></i>About</a></li>
        <li><a href="#"><i class="fa fa-usd nav-icon"></i>Library</a></li>
        
        <li><a href="#"><i class="fa fa-envelope nav-icon"></i>Contact Us</a></li>
      </ul>
    </nav>
    
    <div class="menu-toggle">
      <div class="hamburger"></div>
    </div>
    
  </div>
</header>

<h2> The hottest club in Town.. Bookclub!!!</h2>



<h1> Books </h1>


<ul>

<% @books.each do |book| %>
	<li><%= book.name %></li>
<% end %>

</ul> 

<%= link_to "New Book", new_book_path %>