/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "materialize";
@import url('https://fonts.googleapis.com/css?family=Quicksand:400,700');

body {
  background: #f0f8ea;
  font-family: 'QuickSand',sans-serif;
  background-image: url("http://cdn.wallpapersafari.com/18/12/DzIHon.jpg");
}

h2, h1 {
	text-align: center;
  color: #e8a725;
}

.book {
	text-align: center;
}

h3 {
	font-size: 80px;
}